body {
	font-family: sans-serif;
	font-size: 1.2em;
	background: #000;
}
div#content {
	background: #369;
	border-radius: 2em;
	padding: 2em;
}
h1 {
	background: #69c;
	color: #eee;
	border-radius: 1em;
	padding: 0.5em;
}
div.form {
	background: #eeb;
	border-radius: 2em;
	padding: 1em;
}
div.form table {
	margin: 0 auto;
	background: #69c;
	color: #eee;
	border-radius: 1em;
	padding: 0.6em;
}
div.page {
	display: table;
	margin: 0 auto;
}
.alright {
	text-align: right;
	color: #ffd700;
}
div.result {
	display: table;
	margin: 1em auto;
	background: #eeb;
	border-radius: 2em;
	padding: 1em;
}
span.result-hdr {
	font-weight: bold;
	background: #69c;
	color: #eee;
	border-radius: 1em;
	padding: 0.5em;
}
div.result table {
	margin: 1em auto;
	background: #69c;
	color: #eee;
	border-radius: 1em;
	padding: 0.6em;
}


